  <%= link_to "Home", root_path %>

<h1>My Saved Meals</h1>
<% @meals.each do |meal| %>
  <div>
    <h2><%= link_to meal.name, meal_path(meal) %></h2>
    <p><%= meal.instructions %></p>
    <p>Associated Requirement: <%= meal.requirement.name %></p>
    <%= link_to "Delete", meal_path(meal), method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
<% end %>

  <%= link_to "Back to Requirements", requirements_path %>
